{% extends 'base.html' %}
{% block menu_customer %}активный{% endblock %}
{% block submenu_list_customer %}активный{% endblock %}

{% block content %}
<div class="col-md-6">
    <br>
    <a href="{% url 'customers' %}"><button type="button" id="back-customer" class="btn btn-primary" id="load" data-loading-text="<i class='fa fa-circle-o-notch fa-spin'></i>Processing"> Список клиентов</button></a>
    <br><br><br>
    <div class="content-panel">
        <h3 class="text-center">Изменить клиента</h3>
        <div class="panel-body">
            <form class="form-horizontal" action="{% url 'update_customer' pk=object.id %}" method="post" autocomplete="off">
                <div class="form-group">
                    <div class="col-sm-12">
                        {% csrf_token %}
                        <label><strong>имя покупателя</strong></label>
                        <input type="text" class="form-control customer_name" name="customer_name" placeholder="имя покупателя" value="{{ object.customer_name }}"><br>
                        <label><strong>Телефон клиента</strong></label>
                        <input type="text" class="form-control customer_phone" name="customer_phone" onkeyup="checkDec(this);" placeholder="Телефон клиента" value="{{ object.customer_phone }}"><br>
                        <label><strong>Название магазина</strong></label>
                        <input type="text" class=" form-control shop" name="shop" placeholder="Название магазина клиента (необязательно)" value="{% if object.shop %}{{ object.shop }}{% endif %}"><br>
                        <label><strong>Адрес</strong></label>
                        <textarea name="address" class="form-control address" placeholder="Адрес клиента (необязательно)">{% if object.address %}{{ object.address }}{% endif %}</textarea><br>
                        <input type="hidden" name="retailer" value="{{ request.user.retailer_user.retailer.id }}">
                        <button type="submit" class="btn btn-primary product-sub-btn" style="float: right">Обновить клиента</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<script>

$('#back-customer').on('click', function() {
    var $this = $(this);
  $this.button('loading');
    setTimeout(function() {
       $this.button('reset');
   }, 5000);
});

    </script>
{% endblock %}